* {

    box-sizing: border-box;
}

body {
    background-image: url('https://3.bp.blogspot.com/-UCtvUooNAis/TdOoJXSIEPI/AAAAAAAAAMk/yVvwf92aJUM/s1600/bck_wood_floor.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 80vw;
    margin: 0 auto;
}

.menu {
    font-family: 'Montserrat', sans-serif;
    height: 50px;
    background-color: #333;
    text-align: center;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
}

h1 {
    text-align: center;
    font-family: 'Bangers', cursive;
}

li {
    float: left;
}

li a{
    border-right: 1px solid #bbb;
    color: white;
    height: 50px;
    padding: 14px 16px;
    text-decoration: none;
    display: inline-block;
}

li:first-child {
    border-left: 1px solid #bbb;
}

ul a:hover {
  background-color: #111;
}

.content {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    padding: 12px;
}

.logotitolo {
    text-align: center;
    margin: 0 auto;
    padding: 48px;
}

.titolo {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -3px;
}

#sotto {
    font-size: 20px;
    letter-spacing: 1px;
}

header {
    height: 214px;
    margin-bottom: 10px;
}

.customheader {
    position: relative;
    background-image: url('https://cc-media-foxit.fichub.com/image/fox-it-life/cb6eaf9b-2944-40bc-b369-55e0a06d410e/boschi-in-italia-il-bosco-quarto-pugliese-maxw-1280.jpg');
    height: 140px;
    background-size: cover;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.row {
    padding: 12px;
    background-color: white;
}

.row2 {
    padding-bottom: 12px;
}

aside {
    width: 25%;
    float: left;
    overflow: auto;
}

main {
    width: 50%;
    float: left;
    padding: 0 10px;
    overflow: auto;
}

main .content {
    background-color: white;
}

aside .content {
    overflow: auto;
    background-color: white;
    padding-bottom: 10px;
}

footer {
    height: 100px;
    margin-top: 10px;
    background-color: powderblue;
}
